<!-- your html code here -->
<div class="contact">
    <div class="text">
        <h1>Contact</h1>
        <p>Uspendisse pharetra felis sed dui gravida elementum. Aenean mollis aliquet dapibus. Aliquam vel mattis felis, a tempor nibh. Curabitur vel magna accumsan, aliquet orci eget, consectetur sem.</p>
    </div>
    <div class="container background">
        <form>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Your E-mail</label>
              <div class="col-sm-10 email">
                <input type="email" class="form-control inp-email" id="inputEmail3" placeholder="Your email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMessage3" class="col-sm-2 col-form-label">Your message</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="inputMessage3" rows="3" placeholder="Your message"></textarea>
              </div>
            </div>
            <div class="form-group row right-button">
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary margin-button">Submit</button>
              </div>
            </div>
          </form>
    </div>
</div>