<!-- your html code here -->
<hr>

<div class="portafolio d-flex m-s p-0 " width="100%">
    <h1>Portafolio</h1>
</div>

<div class="subportafolio">
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus.</p>
</div>

<div class="container">


    <div class="row">

        <div class="col-md-4">

            <div class="thumbnail">

                <img src="./assets/img/big-project-image.png" width="75%">
                <div class="caption">

                    <h2 class="text-primary">Proyect Name</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>

            </div>
        </div>


        <div class="col-md-4">

            <div class="thumbnail">

                <img src="./assets/img/big-project-image.png" width="75%">
                <div class="caption">
                    <h2 class="text-primary">Proyect Name</h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>

            </div>
        </div>


        <div class="col-md-4">

            <div class="thumbnail">

                <img src="./assets/img/big-project-image.png" width="75%">
                <div class="caption">
                    <h2 class="text-primary">Proyect Name</h2>
                    </a>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
            </div>

        </div>
    </div>


</div>
</div>
<hr>