
<hr>

<div class="service d-flex col p-2 m-5">
    <img src="./assets/img/2.jpg" class="rounded-circle float-start" width="350px" height="350px">
    <div class="container">
        <h1>The Second Heading <span class="color-span2">Is Preatty Cool Too.</span></h1>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </p>
    </div>
</div>